body{
  
    background-image: linear-gradient(45deg, rgba(46, 38, 38, 0.384),rgb(158, 133, 133));
    color: black;
    text-align: center;
}

.table-bg{

    background: rgba(255, 255, 255,0.9);
    border-radius: 3px 3px 0 0;
}